<!DOCTYPE html>
<html>
	<head>
		<title>ShapeStone</title>
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<script src="libs/require.js"></script>
		<script>
			require(['js/router'], function(Router){
			});

		</script>
	</head>
	<body>
    <header>
		  <div class="brand">MyTeam</div>
      <div class="tagline">Agile Made Simple (TM)</div>
    </header>
		<div id="appmain"></div>
	</body>
</html>