<!DOCTYPE html>
<html>
	<head>
		<title>ShapeStone</title>
		<script src="libs/require.js"></script>
		<script>
			require(['js/router'], function(Router){
				var router = new Router(); 
				window.router = router; 
			})
		</script>
	</head>
	<body>
		<h1>ShapeStone</h1>
		<div id="appmain"></div>
	</body>
</html>