body {
  margin, padding: 0px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.listview li {
	list-style-type: none;
}

.listview li.selected {
	background-color: silver;
}

.gridview li {
	margin: 2px;
	list-style-type: none;	
	float: left;
	height: 100px;
	width: 100px;
	background-color: yellow;
}

.gridview li.selected {
	background-color: silver;
}

.taskboard {
	position: relative;
	background-color: #CCFF99;
	min-width: 200px;
	min-height: 200px;
}